:root {
	hyphens: auto;
}

.row {
	--bs-gutter-x: 1rem;
	--bs-gutter-y: 1rem;
}

div#map {
	height: 600px;
}

/**
 * style for city labels
 */
.leaflet-tooltip.city {
	background-color: transparent;
	border: transparent;
	box-shadow: none;
}

.leaflet-tooltip.city:before {
	display: none;
}


/**
 * Hide the frappe chart tooltip, it is ugly
 */
.chart-container .graph-svg-tip {
	display: none;
}

.chart-container .chart-legend {
	display: none;
}

#tbody_legend_chart td {
	font-size: 12px
}

#tbody_legend td {
	white-space: nowrap;
	min-width: 1rem;
}
#tbody_legend td:first-child {
	padding-inline-start: 0;
}
#tbody_legend td:last-child {
	padding-inline-end: 0;
}
#tbody_legend tr:last-child > td {
	padding-block-end: 0;
}