<div class="chart-node">
  <h6 class="mb-4">THG-Emissionen der gesamten Flotte [Mt CO₂äq]</h6>
  @if (chartData.datasets.length > 0) {
    <app-chart-shell
      [data]="chartData"
      [scale]="{ tickCount: 6 }"
      class="chart-shell"
      style="--plot-min-height: 500px;">
      <app-stacked-bar-plot
        [data]="chartData"
        [colorForSeries]="colorForSeries"
        [style.--num-columns]="chartData.labels.length">
      </app-stacked-bar-plot>
    </app-chart-shell>
  }
</div>

<div class="legend-node">
  <app-chart-legend [legendGroups]="legendGroups"></app-chart-legend>
</div>
