<div class="card border-0 h-100">
  <div class="card-body p-2 small d-flex flex-column gap-1">
    @for (group of legendGroups; track group[0].name) {
      <div class="d-flex flex-column gap-0">
        @for (item of group; track item.name) {
          <span class="text-nowrap">
            @if ((item.type || 'box') === 'box') {
              <span [style.color]="item.color">■</span>
            } @else if (item.type === 'dashed-line') {
              <span [style.color]="item.color">╍</span>
            } @else if (item.type === 'line') {
              <span [style.color]="item.color">─</span>
            } {{ item.name }}
          </span>
        }
      </div>
    }
  </div>
</div>
