<div class="card">
  <div class="card-body d-flex gap-4 align-items-center">
    <label for="szenario-select" class="card-title h5 mb-0 flex-shrink-0">Szenario:</label>
    <select id="szenario-select"
            class="form-select form-select-lg"
            style="width: auto; max-width: 600px;"
            [ngModel]="scenarioState.scenario$ | async"
            (ngModelChange)="scenarioState.scenario$.next($event)">
      @for (scenario of scenarios; track scenario.id) {
        <option [value]="scenario.id">{{ scenario.name }}</option>
      }
    </select>
  </div>
  @if (selectedScenarioConfig$ | async; as config) {
    <div class="card-body border-top">
      <p class="card-text mb-0">
        {{ config.infoText }}
      </p>
    </div>
  }
</div>
