/* You can add global styles to this file, and also import other style files */

// Import font first (needed for variable override)
@import '@fontsource/atkinson-hyperlegible';

// Bootstrap variable overrides
$font-family-sans-serif: 'Atkinson Hyperlegible', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
$grid-gutter-width: 1rem; // Override default 1.5rem
$spacer: 1rem;

@import 'bootstrap/scss/bootstrap';
@import 'leaflet/dist/leaflet.css';

/* Additional custom styles */
.leaflet-tooltip.city {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
}

.leaflet-tooltip.city:before {
  display: none;
}

.chart-container .graph-svg-tip {
  display: none;
}

.chart-container .chart-legend {
  display: none;
}

#tbody_legend_chart {
  display: flex;
  flex-direction: row;
}

#tbody_legend_chart > tr {
  display: flex;
}

#tbody_legend td {
  white-space: nowrap;
  min-width: $spacer;
}

#tbody_legend td:first-child {
  padding-inline-start: 0;
}

#tbody_legend td:last-child {
  padding-inline-end: 0;
}


// chart color definitions
:host {
  /* Diesel */
  --color-diesel-vehicle-dark: #003746;
  --color-diesel-vehicle-medium: #3F636F;
  --color-diesel-energy-wtt: #4d737e;
  --color-diesel-energy-ttw: #B3C3C8;
  --color-diesel-energy-soft: #79929B;
  --color-diesel-energy-medium: #95AAB1;
  --color-diesel-energy-light: #B3C3C8;

  /* BEV */
  --color-bev-energy: #DEDC00;
  --color-bev-battery: color-mix(in oklab, #DEDC03, #9B9F3B 50%); /* Farbe zwischen Fahrzeug und Energie */
  --color-bev-vehicle: #9B9F3B;
  --color-bev-infrastructure: #606200;
  --color-bev-highlight: #BCBC2E;

  /* OL-BEV */
  --color-ol-bev-light: #CFE899;
  --color-ol-bev-medium: #85C200;
  --color-ol-bev-dark: #00692E;

  /* FCEV/Brennstoffzelle */
  --color-fcev-primary: #0061A1;
  --color-fcev-dark: #21418A;
  --color-fcev-light: #66A0C4;
  --color-fcev-battery: #b2d1e3;

  /* BWS-BEV (Batteriewechselsystem) */
  --color-bws-bev-primary: #998A87;
  --color-bws-bev-dark: #5C5957;
  --color-bws-bev-light: #CCC4C2;
}
